table {
    width: 100%;
    thead {
        background-color: #e9e8e8;
    }
    tbody {
        text-align: center;
    }
}
.new-contact-person-btn {
    border: none;
    background: none;
    color: #648b91;
    cursor: pointer;
}